<h3>Ajouter une techno à veiller</h3>
<!-- # : créer une variable coté template -->
<!-- () pour écouter -->
<form #f="ngForm" (submit)="addTechno(f)">
    <label for="technoname">Nom de la techno</label><br>
    <input type="text" name="technoname" ngModel id="technoname"><br>
    <label for="category">Catégorie</label>
    <select name="category" ngModel id="category">
        <option value="">---</option>
        <option value="front">Front</option>
        <option value="back">Back</option>
        <option value="fullstack">Fullstack</option>
    </select>
    <label for="details">Détails</label><br>
    <textarea name="details" ngModel id="details" cols="30" rows="10">Détails</textarea>
    <button type="submit">Ajouter</button>
</form>
